<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="js/emoji/emoji.min.css">
</head>
<body ng-app="app">
    <script src="js/facebook.sdk.js"></script>
    <script src="js/facebook.login.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/emoji/emoji.min.js""></script>
    <script type="text/javascript" src="js/controllers.js""></script>
    <script type="text/javascript" src="js/app.js""></script>


    <div id="content_chat" ng-controller="AppCtrl">
        <div id="emoji-list" ng-show="showEmojis">
            <div ng-click="addEmoji($event)" ng-repeat="icon in icones" ng-bind-html="icon | emoji"></div>
        </div>

        <div id="boxlogin" ng-show="showLogin" >
            <fb:login-button 
                data-size="large" 
                scope="public_profile,email" 
                data-show-faces="false" 
                data-auto-logout-link="false" 
                onlogin="Login();">
            </fb:login-button>
        </div>

        <div id="boxmessage">
            <ul id="messages">
                <li ng-repeat="message in messages track by $index" ng-bind-html="message | emoji" ></li>
            </ul>
            <form id="form_message" ng-submit="submitMessage($event)" action="" >
                <i ng-click="showEmojis = !showEmojis" class="emoji emoji_smile" title=":smile:"></i>
                <input id="m" autocomplete="off" />
                <button class="enviar">Enviar</button>
            </form>
        </div>
    </div>

    <div id="boxadmin" ng-controller="AdminCtrl" ng-show="adminShow">
        <ul class="menu">
            <li ng-click="tabCensura()" ng-class="{'active':showCensura}">Censurar palavras</li>
            <li ng-click="tabBanir()" ng-class="{'active':showBanir}">Banir Usuário</li>
        </ul>
        <div class="censura" ng-show="showCensura" >
            <form id="form_censura" ng-submit="submitCensura()" action="" >
                <input ng-model="censura_palavra" />
                <button class="enviar">Salvar</button>
                <ul class="lista_censura">
                    <li class="active">Palavrão1 <a href="#">remove</a></li>
                    <li class="active">Palavrão2 <a href="#">remove</a></li>
                    <li class="active">Palavrão3 <a href="#">remove</a></li>
                    <li class="active">Palavrão4 <a href="#">remove</a></li>
                    <li class="active">Palavrão5 <a href="#">remove</a></li>
                    <li class="active">Palavrão6 <a href="#">remove</a></li>
                    <li class="active">Palavrão7 <a href="#">remove</a></li>
                    <li class="active">Palavrão8 <a href="#">remove</a></li>
                    <li class="active">Palavrão9 <a href="#">remove</a></li>
                    <li class="active">Palavrão10 <a href="#">remove</a></li>
                    <li class="active">Palavrão11 <a href="#">remove</a></li>
                    <li class="active">Palavrão12 <a href="#">remove</a></li>
                    <li class="active">Palavrão13 <a href="#">remove</a></li>
                    <li class="active">Palavrão14 <a href="#">remove</a></li>
                    <li class="active">Palavrão15 <a href="#">remove</a></li>
                </ul>
            </form>
        </div>
        <div class="banir" ng-show="showBanir">
            <ul class="lista_banir">
                <li class="active">User1 <span><input type="checkbox" name="1">Banir</span></li>
                <li class="active">User2 <span><input type="checkbox" name="2">Banir</span></li>
                <li class="active">User3 <span><input type="checkbox" name="3">Banir</span></li>
                <li class="active">User4 <span><input type="checkbox" name="4">Banir</span></li>
                <li class="active">User5 <span><input type="checkbox" name="5">Banir</span></li>
                <li class="active">User6 <span><input type="checkbox" name="6">Banir</span></li>
                <li class="active">User7 <span><input type="checkbox" name="7">Banir</span></li>
                <li class="active">User8 <span><input type="checkbox" name="8">Banir</span></li>
                <li class="active">User9 <span><input type="checkbox" name="9">Banir</span></li>
                <li class="active">User10 <span><input type="checkbox" name="10">Banir</span></li>
                <li class="active">User11 <span><input type="checkbox" name="11">Banir</span></li>
                <li class="active">User12 <span><input type="checkbox" name="12">Banir</span></li>
                <li class="active">User13 <span><input type="checkbox" name="13">Banir</span></li>
                <li class="active">User14 <span><input type="checkbox" name="14">Banir</span></li>
                <li class="active">User15 <span><input type="checkbox" name="15">Banir</span></li>
            </ul>
        </div>
    </div>

</body>
</html>
