<!doctype html>
<html>
<head>
    <title>chat</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="js/emoji/emoji.min.css">
</head>
<body ng-app="app">
    <script src="js/facebook.sdk.js"></script>
    <script src="js/facebook.login.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/emoji/emoji.min.js""></script>
    <script type="text/javascript" src="js/services.js""></script>
    <script type="text/javascript" src="js/controllers.js""></script>
    <script type="text/javascript" src="js/app.js""></script>


    <div id="content_chat" ng-controller="AppCtrl">
        <div id="emoji-list" ng-show="showEmojis">
            <div ng-click="addEmoji($event)" ng-repeat="icon in icones" ng-bind-html="icon | emoji"></div>
        </div>

        <div id="boxlogin" ng-show="showLogin" >
            <fb:login-button
                data-size="large"
                scope="public_profile,email"
                data-show-faces="false"
                data-auto-logout-link="false"
                onlogin="Login();">
            </fb:login-button>
        </div>

        <div id="boxmessage">
            <ul id="messages">
                <li ng-repeat="message in messages" class="{{message.classe}}" ng-bind-html="message.text | emoji" ></li>
            </ul>
            <form id="form_message" ng-submit="submitMessage($event)" action="" >
                <i ng-click="showEmojis = !showEmojis" class="emoji emoji_smile" title=":smile:"></i>
                <input id="m" autocomplete="off" />
                <button class="enviar">Enviar</button>
            </form>
        </div>
    </div>

</body>
</html>
